/*----------- banner ------------*/
#banner { position: relative; margin: 0 auto; min-width: 990px; overflow: hidden; width: 100%; height: 400px; z-index: 100; background: #f9f9f9; border-bottom: 1px solid #ffffff; }
#J-slide { position: relative; width: 100%; height: 400px; background: #f9f4ed  url(https://i.alipayobjects.com/e/201206/2qz2UvlUVF.gif) no-repeat center center; }
#J-slide .slide { float: left; position: absolute; top: 0; left: 0; width: 100%; height: 400px; }
.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transition: opacity 800ms ease-in-out;
    -moz-transition: opacity 800ms ease-in-out;
    -ms-transition: opacity 800ms ease-in-out;
    -o-transition: opacity 800ms ease-in-out;
    transition: opacity 800ms ease-in-out;
    text-align: center;
    vertical-align: middle;
}
.pic {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transition: all 800ms cubic-bezier(.62, .25, .65, .83);
    -moz-transition: all 800ms cubic-bezier(.62, .25, .65, .83);
    -ms-transition: all 800ms cubic-bezier(.62, .25, .65, .83);
    -o-transition: all 800ms cubic-bezier(.62, .25, .65, .83);
    transition: all 800ms cubic-bezier(.62, .25, .65, .83);
    text-align: center;
}
.txt {
    position: absolute;
    top: 50px;
    left: 0;
    background-repeat: no-repeat;
    width: 410px;
    height: 130px;
    text-indent: -9999em;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
}
.txt-wrap { position: relative; width: 990px; height: 100%; margin: 0 auto; zoom: 1; }
.txt {
    position: absolute;
    top: 50px;
    left: 0;
    background-repeat: no-repeat;
    width: 410px;
    height: 130px;
    text-indent: -9999em;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
}
.txt h3, .txt p { display: none; }
.txt a {
    display: block;
    position: absolute;
    width: 105px;
    height: 26px;
    left: 0;
    bottom: 8px;
    cursor: pointer;
    text-indent: -9999em;
    overflow: hidden;
    z-index: 9;
    outline:none;
}
.txt a::moz-focus-inner{border:0;}
.txt .txt-download {
    position: relative;
    top: 170px;
    height: 110px;
    width: 250px;
    left: 0;
}
.txt .txt-download p { display: block; text-indent: 0; font-size: 14px; color: #fefefe; }
.txt .txt-download .link { margin-top: 10px; }
.txt .txt-download .link a,
.txt .txt-download .link a:hover {
    cursor:pointer;
    width: 111px;
    height: 32px;
    position: static;
    float: left;
    margin-right: 12px;
}
.txt .txt-download .link .forapple {
    background: url(https://i.alipayobjects.com/e/201303/2Nw7ytLWPV.png) no-repeat 0 0;
}
.txt .txt-download .link .forandroid {
    background: url(https://i.alipayobjects.com/e/201303/2Nw8Xh2VfR.png) no-repeat 0 0;
}
.txt .txt-download .link .forapple:hover {
    background: url(https://i.alipayobjects.com/e/201303/2Nw96F59dN.png) no-repeat 0 0;
}
.txt .txt-download .link .forandroid:hover {
    background: url(https://i.alipayobjects.com/e/201303/2Nw9ncDyKT.png) no-repeat 0 0;
}

.slide-1 .bg-1, .slide-1 .pic-1, .slide-1 .txt-1 { display: block; opacity: 1; }
.slide-2 .bg-2, .slide-2 .pic-2, .slide-2 .txt-2 { display: block; opacity: 1; }
.slide-3 .bg-3, .slide-3 .pic-3, .slide-3 .txt-3 { display: block; opacity: 1; }
.slide-4 .bg-4, .slide-4 .pic-4, .slide-4 .txt-4 { display: block; opacity: 1; }
.slide-5 .bg-5, .slide-5 .pic-5, .slide-5 .txt-5 { display: block; opacity: 1; }

.slide-number-box {
    width: 990px;
    height: 0;
    margin: 0 auto;
    position: relative;
    z-index: 999;
}
.slide-number {  padding: 8px 0 9px 0; width: 120px; margin-left: -60px; text-align: center; position: absolute; bottom: 0px; left: 50%; }
.slide-number a { float: left; width: 14px; height: 14px; display: block; margin: 0 10px 0 0;
    background: url(https://i.alipayobjects.com/e/201303/2OkkoA3Div.png) no-repeat 0 0px;
    text-indent: -9999em; overflow: hidden; outline:none;
}
.slide-number a::moz-focus-inner{border:0;}
.slide-number .slide-number-active {
    background: url(https://i.alipayobjects.com/e/201303/2OkidhSALl.png) no-repeat 0 0;
}

/** banner 动画效果 **/
.anim-left { left: 30px; }
.anim-right { left: -30px; }
.anim-up { top: 0px; }
.anim-down { top: 100px; }
.anim-left-over { left: 0; }
.anim-right-over { left: 0; }
.anim-up-over { top: 50px; }
.anim-down-over { top: 50px; }