.partner-item .cnt .business-pic-last i {
    display: block;
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/PKpkQr8NB.png);
}
.partner-item .cnt .business-pic-last .a {
    background-image: url(https://i.alipayobjects.com/e/201305/PKpjnozCn.png);
}

.partner-item .cnt .business-pic-last .b {
    background-image: url(https://i.alipayobjects.com/e/201305/PKpjnTLtV.png);
}

.partner-item .cnt .business-pic-last .c {
    background-image: url(https://i.alipayobjects.com/e/201305/PKpk0tAzl.png);
}

.partner-item .cnt .business-pic-last .d {
    background-image: url(https://i.alipayobjects.com/e/201305/PKpjSRaO5.png);
}

.partner-item .cnt .business-pic-last .e {
    background-image: url(https://i.alipayobjects.com/e/201305/PKpk0tAzl.png);
}

.partner-item .cnt .business-pic-last .f {
    background-image: url(https://i.alipayobjects.com/e/201305/PKpjpSA69.png);
}

.partner-item .cnt .business-pic-last .g {
    background-image: url(https://i.alipayobjects.com/e/201305/PKqQiA2g9.png);
}

.partner-item .cnt .business-pic-last .h {
    background-image: url(https://i.alipayobjects.com/e/201305/PKqGpK8qD.png);
}

.partner-item .cnt .business-pic-last .i {
    background-image: url(https://i.alipayobjects.com/e/201305/PKqTii3I5.png);
}

.partner-item .cnt .business-pic-last .j {
    background-image: url(https://i.alipayobjects.com/e/201305/PKqL2zn7t.png);
}
 /**
.partner-item .cnt .business-pic-last .k {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWihCVzf.jpg);
}

.partner-item .cnt .business-pic-last .l {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWdnGntr.jpg);
}

.partner-item .cnt .business-pic-last .m {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWh6Cred.jpg);
}

.partner-item .cnt .business-pic-last .n {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWX5eJB5.jpg);
}

.partner-item .cnt .business-pic-last .o {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWcAF4xn.jpg);
}

.partner-item .cnt .business-pic-last .p {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWX5kWC3.jpg);
}

.partner-item .cnt .business-pic-last .q {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWX5OrJz.jpg);
}

.partner-item .cnt .business-pic-last .r {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWX5zxWt.jpg);
}

.partner-item .cnt .business-pic-last .s {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWX4w02V.jpg);
}

**/