/*----------- footer -------------*/
.footer {
    width: 100%;
    height: 280px;
    background-color: #ededed;
}

.partner {
    padding: 25px 0;
    height: 70px;
    border-bottom: 1px solid #d9d9d9;
    background-color: #ededed;
    overflow: hidden;
    zoom: 1;
}

.partner-item {
    width: 240px;
    height: 70px;
    float: left;
    zoom: 1;
}

.partner-item-last {
    width: 270px;
}

.partner-item .title {
    line-height: 18px;
    padding-bottom: 10px;
}

.partner-item .title span {
    font-weight: 700;
    color: #808080;
}

.partner-item .more {
    color: #b3b3b3;
    margin-left: 10px;
}

.partner-item .more .icon-more {
    line-height: 15px;
    width: 15px;
    height: 15px;
    *height: 13px;
    *line-height: 13px;
    display: inline-block;
    background: url(https://i.alipayobjects.com/e/201305/NpPVIff3V.png);
    vertical-align: text-bottom;
}

.partner-item .cnt {
    width: 240px;
    height: 50px;
    zoom: 1;
    overflow: hidden;
}

.partner-item .cnt .business-pic {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/P2LJKTgc1.png);
    display: block;
    
}


.partner-item .ui-list-item {
    line-height: 20px;
    height: 24px;
}

.partner-item .ui-list-item .icon-list {
    width: auto;
    height: auto;
    display: inline-block;
    background: url(https://i.alipayobjects.com/e/201305/NRyo6xONB.png);
}

.icon-partner-bank {
    width: auto;
    height: auto;
    display: block;
    background: url(https://i.alipayobjects.com/e/201305/P29ZKE19J.png);
}

.icon-partner-security {
    width: auto;
    height: auto;
    display: block;
    background: url(https://i.alipayobjects.com/e/201305/P2aLOrVG9.png);
}

.J-RotateList {
    height: 48px;
    width: 270px;
    overflow: hidden;
    position: relative;
}

.sitelink {
    height: 50px;
    padding: 25px 0;
    border-top: 1px solid #f6f6f6;
    text-align: center;
    background-color: #ededed;
}

.sitelink .ui-link {
    display: inline-block;
    padding: 4px 0;
    *display: inline;
    _display: inline;
}

.sitelink .ui-link-bottom {
    padding-top: 8px;
    _padding-top: 15px;
    *padding-top: 15px;
}

.sitelink .ui-link-item, .sitelink .ui-link-item a {
    color: #a0a0a0;
}

.sitelink .ui-link-item a:hover {
    text-decoration: underline;
    color: #a0a0a0;
}

.auth {
    height: 50px;
    text-align: center;
    background-color: #ededed;
}

.auth-link {
    display: inline-block;
    _display: inline;
    *display: inline;
}

.auth-link-item {
    height: 40px;
    float: left;
}

.auth-link-item a, .auth-link-item span {
    display: block;
    text-indent: -9999em;
    overflow: hidden;
}

.auth .icon, .auth .icon:hover {
    display: block;
}

.auth .icon-zfywxk {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/P15R8jn25.png);
    margin-right: 15px;
}

.auth .icon-zfywxk:hover {
    background: url(https://i.alipayobjects.com/e/201305/P0pdJtM4r.jpg);
}

.auth .icon-pcirk {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/P1Y7UUNk5.png);
    margin-right: 16px;
}

.auth .icon-pcirk:hover {
    background: url(https://i.alipayobjects.com/e/201305/P19YdrlwL.jpg);
}

.auth .icon-visayz {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/P1c8Z152b.png);
    margin-right: 14px;
}

.auth .icon-visayz:hover {
    background: url(https://i.alipayobjects.com/e/201305/P1c8yDx41.jpg);
}

.auth .icon-vsjmfw {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/P1gbHGGOr.png);
    margin-right: 13px;
}

.auth .icon-vsjmfw:hover {
    background: url(https://i.alipayobjects.com/e/201305/P1gbIH7u1.jpg);
}

.auth .icon-zjwm {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/P1huc1EhZ.png);
    margin-right: 14px
}

.auth .icon-zjwm:hover {
    background: url(https://i.alipayobjects.com/e/201305/P1hucxg0j.jpg);
}

.auth .icon-wlgs {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/P1kzY1bRl.png);
    margin-right: 17px;
}

.auth .icon-wlgs:hover {
    background: url(https://i.alipayobjects.com/e/201305/P1rGzw8LV.jpg);
}

.auth .icon-ppaa {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/P1lpZ2ft7.png);
    margin-right: 12px;
}

.auth .icon-ppaa:hover {
    background: url(https://i.alipayobjects.com/e/201305/P1s6zZRvh.jpg);
}

.auth .icon-hzdt {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/P4A4U0PLh.png);
    margin-right: 10px;
}

.auth .icon-hzdt:hover {
    background: url(https://i.alipayobjects.com/e/201305/P4A47cQST.png);
}

.auth .icon-aqff {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/P1lq4hAhp.png);
    margin-right: 12px;
}

.auth .icon-aqff:hover {
    background: url(https://i.alipayobjects.com/e/201305/P1lqI1EMn.jpg);
}

.auth .icon-rzcx {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/P1sFkbrOf.png);
}

.auth .icon-rzcx:hover {
    background: url(https://i.alipayobjects.com/e/201305/P1sQWX98X.jpg);
}