/*----------- nav ---------------*/

.nav {
    width: 610px;
    height: 45px;
    float: right;
    position: relative;
    z-index: 999;
}

.nav-item {
    float: left;
    height: 45px;
    position: relative;
}

.nav-item .nav-item-link {
    height: 45px;
    display: block;
    text-indent: -9999em;
    overflow: hidden;
}

.nav-item .nav-item-link, .nav-item .nav-item-link:hover, .nav-item .nav-item-link-active {
    background-repeat: no-repeat;
}

.nav-item-sub {
    position: absolute;
    padding: 9px 3px;
    background: #fff;
    top: 45px;
}

.nav-item-table {
    background: none repeat scroll 0 0 #FFFFFF;
    white-space: nowrap;
}

.nav-item-table td, .nav-item-table th {
    border-right: 1px solid #e7e7e7;
    padding: 2px 14px;
    white-space: nowrap;
}

.nav-item-table th {
    font-weight: 700;
    padding: 0 12px 2px 15px;
    border-collapse: separate;
    white-space: nowrap;
}

.nav-item-table th.last, .nav-item-table td.last {
    border-right: none;
}

.nav-item-table a {
    color: #898989;
    display: block;
    padding-left: 3px;
    position: relative;
    vertical-align: middle;
}

.nav-item-table a:hover {
    background-color: #aaaaaa;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    text-decoration: none;
    vertical-align: middle;
}

.nav-item .nav-item-sub {
    display: none;
}

.nav-item .angle {
    position: absolute;
    display: none;
    width: 15px;
    height: 15px;
    font-size: 0;
    top: 35px;
    *top: 36px;
    _top: 36px;
    top: 37 px\0;
    right: 65px;
    background: url(https://i.alipayobjects.com/e/201305/NpziQgA8T.png);
    overflow: hidden;
}

:root .angle {
    top: 35px;
}

.nav-item:hover .nav-item-sub, .nav-item-hover .nav-item-sub {
    display: block;
}

.nav-item:hover .angle, .nav-item-hover .angle {
    display: block;
}

#home .nav-item-link {
    width: 90px;
    margin-right: 20px;
    background: url(https://i.alipayobjects.com/e/201305/NRKdGeM8D.png);
}

#personal .nav-item-link {
    width: 110px;
    background: url(https://i.alipayobjects.com/e/201305/NRKkEkzu1.png);
    margin-right: 20px;
}

#personal .nav-item-link:hover, #personal .nav-item-link-active {
    background: url(https://i.alipayobjects.com/e/201305/NRKcWjqWL.png);
}

#personal .nav-item-sub {
    right: 20px;
}

#payment .nav-item-link {
    width: 110px;
    background: url(https://i.alipayobjects.com/e/201305/NRKcvzxNN.png);
    margin-right: 20px;
}

#payment .nav-item-link:hover, #payment .nav-item-link-active {
    background: url(https://i.alipayobjects.com/e/201305/NRKcX0Hlt.png);
}

#payment .nav-item-sub {
    right: 20px;
}

#security .nav-item-link {
    width: 110px;
    background: url(https://i.alipayobjects.com/e/201305/NRKcw5cph.png);
    margin-right: 20px;
}

#security .nav-item-link:hover, #security .nav-item-link-active {
    background: url(https://i.alipayobjects.com/e/201305/NRKc4w0Wr.png);
}

#security .nav-item-sub {
    right: 20px;
}

#business .icon-nav-split {
    width: auto;
    height: auto;
    display: inline-block;
    background: url(https://i.alipayobjects.com/e/201305/NR4AnmF2r.png);
    margin-right:25px;
    float: left;
}

#business .nav-item-link {
    width: auto;
    background: url(https://i.alipayobjects.com/e/201305/NQyzIoSGj.png);
    float: left;
}

#business .nav-item-link:hover, #business .nav-item-link-active {
    background: url(https://i.alipayobjects.com/e/201305/NQyywXQhR.png);
}

#business .angle {
    right: 28px;
}

#business .nav-item-sub {
    right: 0px;
}