/*----------- server-link -------*/
#server-link {
    width: 990px;
    height: 0;
    margin: 0 auto;
    position: relative;
    z-index: 999;
}
#server-link .ui-link {
    padding: 10px 0;
    line-height: 14px;
    height: 14px;
    position: absolute;
    bottom: 17px;
    left: 0;
}
#server-link .ui-link-item { padding-right: 12px; padding-left: 0; border-right: 1px solid #fff; float: left; }
#server-link .ui-link-item a { color: #ffffff; }
#server-link .ui-link-item a:hover { color: #ffffff; text-decoration: underline; }
#server-link .ui-link-item-last { padding-left: 12px; border-right: none }