/**********************************
 *          页面布局和细节
 *********************************/

/*----------- topbar ------------*/
.topbar {
    width: 100%;
    height: 26px;
    background: #f5f5f5;
    background: -moz-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -webkit-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -o-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f5f5f5');
    border-bottom: 1px solid #dcdcdc;
    _overflow: hidden;
}

.topbar-wrap {
    height: 26px;
    background: #f5f5f5;
    background: -moz-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -webkit-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -o-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f5f5f5');
    border-bottom: 1px solid #dcdcdc;
}

.topbar-wrap .toplink {
    float: left;
    width: 300px;
    line-height: 14px;
    height: 14px;
    padding: 6px 0;
}

.topbar-wrap .toplink a {
    display: block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
}

.topbar-wrap .mobile {
    float: left;
    padding: 0 15px 0 0;
}

.topbar-wrap .mobile .icon-mobile {
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 4px;
    background: url(https://i.alipayobjects.com/e/201305/NpFhdJWzl.png);
}

.topmenu {
    float: right;
    padding: 6px 0;
    color: #666666;
    position: relative;
    z-index: 1000;
}

.topmenu-item {
    float: left;
    padding: 1px 15px;
    line-height: 12px;
    _line-height: 14px;
    border-left: 1px solid #fefefe;
    border-right: 1px solid #e2e2e2;
}

.topmenu-item-first {
    border-left: none;
    border-right: none;
}

.topmenu-item-first .split {
    padding: 0 5px;
    color: #666;
}

.topmenu-item-last {
    border-right: none;
    padding-right: 0;
}

.topmenu-item-dropdown {
    position: relative;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.topmenu-item-dropdown:hover, .topmenu-item-dropdown-hover {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-top: 3px;
    top: -3px;
    background-color: #ffffff;
}

.topmenu-item-dropdown a {
    float: left;
    zoom: 1;
}

.topmenu-item-dropdown .icon-dropdown {
    width: auto;
    height: auto;
    display: inline-block;
    line-height: 10px;
    overflow: hidden;
    vertical-align: middle;
    background: url(https://i.alipayobjects.com/e/201305/Np34SKFG9.png);
    zoom: 1;
}

.topmenu-item-dropdown a:hover {
    text-decoration: none;
}

.topmenu-item-dropdown a:hover .icon-dropdown, .topmenu-item-dropdown-hover .icon-dropdown {
    background: url(https://i.alipayobjects.com/e/201305/Np6DXUq9F.png);
}

.topmenu-item-dropdown ul {
    display: none;
    position: absolute;
    background: #fff;
}

.topmenu-item-dropdown:hover ul, .topmenu-item-dropdown-hover ul {
    padding-top: 8px;
    *padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 27px;
    background: #ffffff;
    display: block;
    border-bottom: 1px solid #ccc;
    left: -1px;
    top: 16px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.topmenu-item-dropdown ul li {
    line-height: 21px;
    *line-height: 18px;
    width: 60px;
}

.topmenu-item-dropdown ul li a {
    display: block;
}

.topmenu-item-dropdown ul li a:hover {
    background: #ffffff;
    color: #ff6600;
}