.topmenu-item-dropdown .icon-dropdown {
    width: auto;
    height: auto;
    display: inline-block;
    line-height: 10px;
    overflow: hidden;
    vertical-align: middle;
    background: url(https://i.alipayobjects.com/e/201305/Np34SKFG9.png);
    zoom: 1;
}

.topbar-wrap .mobile .icon-mobile {
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 4px;
    background: url(https://i.alipayobjects.com/e/201305/NpFhdJWzl.png);
}


#pay-quickly .title-link {
    width: auto;
    background: url(https://i.alipayobjects.com/e/201305/KLqSkg3JV.png);
}

#pay-life .title-link {
    width: auto;
    background: url(https://i.alipayobjects.com/e/201305/KLtcOkdTZ.png);
}

#pay-anywhere .title-link {
    width: auto;
    background: url(https://i.alipayobjects.com/e/201305/MZDle8V09.png);
}


.about-item .icon-about-safety {
    background: url(https://i.alipayobjects.com/e/201305/KJ98UE6sv.png);
}

.about-item .icon-about-vip {
    background: url(https://i.alipayobjects.com/e/201305/KIOQaIgp3.png);
}

.about-item .icon-about-abc {
    background: url(https://i.alipayobjects.com/e/201305/KJDwSAV5h.png);
}

.icon-partner-bank {
    width: auto;
    height: 50px;
    display: block;
    background: url(https://i.alipayobjects.com/e/201305/NRuQmGISz.png);
}

.partner-item .cnt .business-pic-last i {
    display: block;
    width: 205px;
    height: 20px;
    background: url(https://i.alipayobjects.com/e/201305/NpKWWOyIP.png);
}

.partner-item .cnt .business-pic {
    margin-top: 5px;
    height: 20px;
    background: url(https://i.alipayobjects.com/e/201305/NRhq3TxWP.png) no-repeat 0 0;
    display: block;
    width: 205px;
}

.icon-partner-security {
    width: auto;
    height: 50px;
    display: block;
    background: url(https://i.alipayobjects.com/e/201305/NRtYIJiE9.png);
}



.auth .icon-zfywxk {
    width: 40px;
    height: 35px;
    background: url(https://i.alipayobjects.com/e/201305/Npa5RDNSf.png);
    margin-right: 15px;
}

.auth .icon-zfywxk:hover {
    background: url(https://i.alipayobjects.com/e/201305/NpZcBV5PJ.png);
}

.auth .icon-pcirk {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/NpkYM3K4r.png);
    margin-right: 16px;
}

.auth .icon-pcirk:hover {
    background: url(https://i.alipayobjects.com/e/201305/NpkYmdpvx.png);
}

.auth .icon-visayz {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/NpqMJ6VOX.png);
    margin-right: 14px;
}

.auth .icon-visayz:hover {
    background: url(https://i.alipayobjects.com/e/201305/NpqMlJd1Z.png);
}

.auth .icon-vsjmfw {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/Nq4xoEBMb.png);
    margin-right: 13px;
}

.auth .icon-vsjmfw:hover {
    background: url(https://i.alipayobjects.com/e/201305/Nq4yBDLfJ.png);
}

.auth .icon-zjwm {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/OtK78jaQX.png);
    margin-right: 14px
}

.auth .icon-zjwm:hover {
    background: url(https://i.alipayobjects.com/e/201305/OtK78X8JZ.png);
}

.auth .icon-wlgs {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/OtQHGXOJJ.png);
    margin-right: 17px;
}

.auth .icon-wlgs:hover {
    background: url(https://i.alipayobjects.com/e/201305/OtQHVIRf3.png);
}

.auth .icon-ppaa {
    width: 31px;
    height: 35px;
    background: url(https://i.alipayobjects.com/e/201305/OtVmQUtlV.png);
    margin-right: 12px;
}

.auth .icon-ppaa:hover {
    background: url(https://i.alipayobjects.com/e/201305/OtVmg5EcH.png);
}

.auth .icon-hzdt {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/OtYShQypp.png);
    margin-right: 10px;
}

.auth .icon-hzdt:hover {
    background: url(https://i.alipayobjects.com/e/201305/OtYShTL2L.png);
}

.auth .icon-aqff {
    width: auto;
    height: auto;
    background: url(https://i.alipayobjects.com/e/201305/OtdlChCTd.png);
    margin-right: 12px;
}

.auth .icon-aqff:hover {
    background: url(https://i.alipayobjects.com/e/201305/OtdlD7h2L.png);
}

.auth .icon-rzcx {
    width: 75px;
    height: 35px;
    background: url(https://i.alipayobjects.com/e/201305/OtjFVa3tt.png);
}

.auth .icon-rzcx:hover {
    background: url(https://i.alipayobjects.com/e/201305/OtjFGvgxh.png);
}